{% extends 'index.html' %}
{% load static %}
{% block title%} Contact US {% endblock %}

{% block main-content %}
<style>
    body{
        background-color: black;
        color: antiquewhite;
    }
</style>
  <div class = "container" >
    <br>
    <h2 class = "text-center">About Us

    </h2>

    <div class = "row container">
        <p class = "fs-4 text-center">
            Email: iamgr8111@gmail.com

            <div class = " text-center font-size:30px" >INSTAGRAM : 
                <a href = "#" class = "text-center" >
                    Instagram
                </a>
            </div>
            <br> <br>
            <div class = "container text-center">FACEBOOK : 
                <a href = "#" class = "text-center">
                    Facebook
                </a>
            </div>

        </p>

    </div>
{% endblock main-content %}